@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body style="background:url(../Images/Picture2.jpg); background-size:100%;background-repeat:no-repeat;background-attachment:scroll">

</body>

@*<p>Use this area to provide additional information.</p>*@
