@{
    ViewBag.Title = "Home Page";
}
<style>
     #cf1 img {
            position:absolute;
            left:0;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }

        #cf1 img.top:hover {
            opacity:0;
        }


</style>
<div class="HomePage">
    <div class="row" >
        <div class="cf1" id="cf1">
            <a href='../SearchResult/BoyOrGirl?CategoryCode=0'>

                <img class="bottom" src="~/Images/girls color.jpg" style="width:570px; height:500px; margin:auto;left:200px;" />
                <img class="top" src="~/Images/girls BW.jpg" style="width:570px; height:500px; margin:auto;position:absolute; left:200px;" />
            </a>
        </div>
       
           
        </div>
    <div class="cf1" id="cf1">

                <a  href='../SearchResult/BoyOrGirl?CategoryCode=1' >
                    <img class="bottom" src="~/Images/boys color.jpg" style="width:570px; height:500px;left:770px;margin:auto" />
                    <img class="top" src="~/Images/boys BW.jpg" style="width:570px; height:500px;position:absolute; left:770px;" />
                </a>
   </div>
            
        @*</div>
    </div>*@
    @*<a href="C:/Users/DANA/Desktop/Annety/ANNETY/Annety/Annety/web/index.html">Pay Now</a>*@
    @*<a class="PayNowBottun" href="~/Views/Payment/index.html">Pay Now</a>*@
  
   @*<div class="row">
       <div>תמונה 1</div>
       <div>תמונה 2</div>
       <div>תמונה 3</div>
       <div>תמונה 4</div>
       <div>תמונה 5</div>
       <div>תמונה 6</div>
   </div>*@
</div>